.header-container {
  position: relative; 
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 10px;  
}

.home-container .brand {
  position: absolute; 
  left: 0;
  line-height: 40px;
}

.home-container .brand {
  position: absolute; 
  right: 0;
}
