<%= form_for :session, url: signin_path, html: {class: "form-horizontal", role: "form"} do |f| %>
  
  <div class="form-group icon-addon addon-md">
    <%= f.text_field :email, class: "form-control", placeholder: 'E-mail' %> 
    <label for="email" class="fa fa-envelope-o fa-fw" rel="tooltip" title="email"></label>
  </div>
      
  <div class="form-group icon-addon addon-md">
    <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
    <label for="email" class="fa fa-key fa-fw" rel="tooltip" title="password"></label>
  </div>

  <div class="form-group"> 
    <%= f.button raw("<i class='fa fa-user fa-fw'></i>Sign in"), class: "btn btn-large btn-primary" %>
  </div> 
<% end %>
