/**
 */
$font-size-base: 13px; 

/** 
 * Sidebar Modules Variables
 */
$sidebar-width: 250px;
$sidebar-banner-height: 40px;

/**
 * Content Modules Variables 
 */
$content-topbar-height: $sidebar-banner-height;
