<%= content_tag :div, class: "modal fade", id: modal_id do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <%= content_tag :div, class: "modal-body modal-form", id: form_id do %> 
      <% end %>
    </div>
  </div>
<% end %>
