@mixin sider($left, $width, $height: 100%) {
  position: absolute;
  left: $left;
  width: $width; 
  height: $height;
}

@mixin wrapper($max_width, $min_height: 100%) {
  position: relative;  
  max-width: $max_width;
  min-height: $min_height;
}

.dashboard-wrapper {
  @extend %center; 
  @include wrapper(960px);
}

.sidebar-wrapper {
  @include sider(0px, $sidebar-width); 
  @include padding(null 25px null null); 
}

.content-wrapper {  
  @include margin(null null null $sidebar-width);
  @include padding(null null null 25px);
  height: 100%;
  background-color: white; 
}
