@mixin separator_line($color: #bdbdbd) {
  border-bottom: 1px solid $color;  
}

@mixin sidebar-list($margin: null null null null) {
  @include margin($margin);
}

@mixin sidebar-list-item($heigh, $margin: null null null null) {
  @include padding($margin); 
  
  text-decoration: none;
  display: block;
  list-style: none; 
  color: #737373;
  cursor: pointer;
  
  &:hover {
    background-color: #fafafa;
  }
}

.sidebar-banner {
  @include position(relative); 
  @include size(225px, $sidebar-banner-height);
  @include separator_line;
  
  .sidebar-logo  {
    @include position(absolute, 1px null null null); 
  }
}

.sidebar-logo-icon {
  @include icon-before($icon-bell, 32px);
  color: #888;
  text-decoration: none;
}

.sidebar-top-section {
  @include position(relative);
}

.sidebar-top-filters {
  @include margin(29px 0 29px 0); 
  @include padding(0 0 5px 0);
  
  a {
    color: #737373;
    text-decoration: none;
  }
  
  .inbox-filter {
    @include sidebar-list-item(26px, 11px 0 11px 0);
    @include icon-before($icon-inbox, 20px, 20px);
  }
  .today-filter {
    @include sidebar-list-item(26px, 11px 0 11px 0);
    @include icon-before($icon-calendar, 20px, 20px);
  }
  .seven-days-filter {
    @include sidebar-list-item(26px, 11px 0 11px 0);
    @include icon-before($icon-calendar, 20px, 20px);
  }
  
}

.sidebar-tabs-section {
  @include padding(null null 3px null); 
  background: transparent; 
  border: none;
}

.sidebar-projects-section {
   
}

.sidebar-actions-section {
  .add-project {
    @include margin(null null null 10px);
  }
  .action-icon {
    @include inline-icon(null 8px null null);
  }
  a {
    color: #dd4b39
  }
}
