<div id="add-task-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Task</h4>
      </div>

      <div class="modal-body">
        <%= render 'layouts/new_task_form' %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add task</button>
      </div>
    </div>
  </div>
</div>
