<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">

    <!-- Sidebar --> 
    <div class="sidebar">

      <div class="sidebar-banner">
        <div class="sidebar-logo">
          <a href="#"><i class="fa fa-wifi fa-2x"></i></a>
        </div>
      </div>

      <div id="sidebar-top-sec" class="sidebar-top-sec">
        <ul id="top-filters" class="top-filters">
          <li class="filter">
            <i class="fa fa-inbox fa-lg"></i>
            Inbox <span class="notification"></span>
          </li>
          <li class="filter">
            <i class="fa fa-calendar-o fa-lg"></i>
            Today <span class="notification"></span>
          </li>
          <li class="filter">
            <i class="fa fa-calendar fa-lg"></i>
            7 Days <span class="notification"></span>
          </li>
        </ul>
      </div>

      <div class="sidebar-tabs">
        <ul>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
        </ul>
      </div>

      <div class="sidebar-projects">
        <ul class="projects-list">
        </ul>
      </div>

      <div class="sidebar-projects-actions">
        <div class="add-project">
          <i class="fa fa-plus"></i><a href="#">Add Project</a>
        </div>
      </div>
      
    </div>

    <!-- Content -->
    <div class="content">
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
      <h3>Content!</h3>
    </div>

  </div> 
  
  
</body>
</html>
